.dish-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

.dish-img {
    width: 600px;
    height: 420px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.dish-cart-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
}

.dish-name,
.dish-count,
.dish-price {
    font-size: 2rem;
    font-weight: bold;
    color: chocolate;
}